<table mat-table class="mb-2" [dataSource]="dataSource">
  <!--  -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef class="main-header common-row bold">
      {{ displayedHeaders[0] }}
    </th>
    <td mat-cell class="common-row" *matCellDef="let row">
      <p class="common-row__text">{{ row.name }}</p>
    </td>
  </ng-container>

  <!-- visible web -->
  <ng-container matColumnDef="visibleWeb">
    <th mat-header-cell *matHeaderCellDef class="common-row bold text-center">
      {{ displayedHeaders[1] }}
    </th>
    <td mat-cell class="common-row" *matCellDef="let row; let i = index">
      <mat-checkbox
        class="checkbox-cell"
        color="primary"
        [checked]="row.visibleWeb"
        (change)="setFormVisibleWeb($event.checked, i)"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- visible -->
  <ng-container matColumnDef="visible">
    <th mat-header-cell *matHeaderCellDef class="common-row bold text-center">
      {{ displayedHeaders[2] }}
    </th>
    <td mat-cell class="common-row" *matCellDef="let row; let i = index">
      <mat-checkbox
        class="checkbox-cell"
        color="primary"
        [checked]="row.visible"
        (change)="setFormVisible($event.checked, i)"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- required -->
  <ng-container matColumnDef="required">
    <th mat-header-cell *matHeaderCellDef class="common-row bold text-center">
      {{ displayedHeaders[3] }}
    </th>
    <td mat-cell class="common-row" *matCellDef="let row; let i = index">
      <mat-checkbox
        class="checkbox-cell"
        color="primary"
        [checked]="row.required"
        (change)="setFormRequired($event.checked, i)"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div [class]="back ? 'btn-group' : 'btn-single'">
  <button
    *ngIf="back"
    mat-icon-button
    matStepperPrevious
    class="btn-back mat-elevation-z8"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>

  <button
    *ngIf="next || finish"
    mat-button
    matStepperNext
    class="btn-continue bold"
    (click)="finish ? submit() : stepperNext()"
  >
    {{ finish ? "Guardar" : "Continuar" }}
  </button>
</div>
