.dashboard-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile .dashboard-toolbar {
  justify-content: space-between;
  position: fixed;
  z-index: 2;
}

::ng-deep .dashboard-toolbar.mat-primary {
  justify-content: space-between;
  background-color: #F4F4F4;
  border-bottom: 8px solid #DBDBDB;
  height: 60px;
}

h1.app-name {
  margin-left: 8px;
  margin-top: 15px;
  color: white;
}

.sidenav-container {
  flex: 1;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

ul li {
  list-style: none;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.profile-card {
  text-align: center;
  padding: 0 20px 20px 20px;
  background-color: #ffffff;
  margin: 10px;
}

.header {
  margin-top: 20px;
  display: flex;
  font-size: 11px;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.icono {
  margin-right: 10px;
}

div ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
}

.name {
  margin-bottom: 1px;
}

.expand-icon {
  margin-left: 8px;
  vertical-align: middle;
  font-size: 13px;
}

h3 {
  margin-right: 3px;
}

.custom-icon {
  font-size: 24px;
  color: var(--ngx-valepro-color-secondary);
  margin-right: 10px;
}

.app-logo {
  width: 112px;
  height: 84px;
  background-image: var(--imagen-background-login);
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  background-color: #f0f0f0;
  margin: 10px;
}

/* Aplicar un flujo de bloque a los elementos del submenú */
.header ul.header li {
  display: block;
}

.header ul.header li {
  margin-bottom: 10px;
}



.top-bar-escritorio {
  display: none;
}

.btn-main-logout {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
  border-radius: 50px;
  border: 2px solid var(--color-secundario);
  min-width: 200px;
  min-height: 44px;

}

.main-sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {}

@media screen and (min-width: 1024px) {
  .top-bar-movil {
    display: none;
  }

  .top-bar-escritorio {
    display: flex;
  }

}