<!-- <div class="container ">
  <div class="row align-items-start">
    <div class="col">
      <div class="title">
        <span>Información general</span>
      </div>

      <div class="fomr">
        <span>Datos del programa</span>
        <mat-form-field>
          <mat-label>Nombre de programa*</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Centro de costo</mat-label>
          <input matInput>
        </mat-form-field>

        <span>Centro de acopio del programa</span>
        <mat-form-field>
          <mat-label>Sección</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Sección</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Sección</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Centro de costo</mat-label>
          <input matInput>
        </mat-form-field>

        <div class="col-12">
          <button type="submit">Ingresar</button>
        </div>

      </div>

    </div>
  </div>
</div> -->