<div class="container system__roles-content">
    <span class="bold-32">
        Roles y funciones
    </span>
    <div class="container system__roles-menu">
        <div class="system__roles-menu-row">
            <p class="bold-14">
                Roles
            </p>
        </div>
        <div class="system__roles-menu-row">
            <p class="regular-16">
                Superadministrador
            </p>
            <div class="image">
                <img src="../../../../assets/images/icon-edit.png" alt="icon-edit" [routerLink]="['/main/system/edit-role']">
            </div>
        </div>
        <div class="system__roles-menu-row">
            <p class="regular-16">
                Administrador
            </p>
            <div class="image">
                <img src="../../../../assets/images/icon-edit.png" alt="icon-edit">
            </div>
        </div>
        <div class="system__roles-menu-row">
            <p class="regular-16">
                Líder de cuenta
            </p>
            <div class="image">
                <img src="../../../../assets/images/icon-edit.png" alt="icon-edit">
            </div>
        </div>
        <div class="system__roles-menu-row">
            <p class="regular-16">
                Afiliado
            </p>
            <div class="image">
                <img src="../../../../assets/images/icon-edit.png" alt="icon-edit">
            </div>
        </div>
    </div>
    <div class="container system_container__button">
        <div class="system__content__button">
            <button class="bold-16 system__button">Agregar Rol  +</button>
        </div>
    </div>
</div>