.table-container {
  overflow: auto;
}

table {
  width: 100%;
}

.mb-2 {
  margin-bottom: 2em;
}

.self-center {
  align-self: center;
}

.self-end {
  align-self: flex-end;
}

.main-title {
  color: var(--ngx-valepro-color-tertiary);
  font-size: 32px;
  font-family: bold;
  font-family: bold;
  padding: 16px 0;
  text-align: center;
}

.url-warning {
  color: red;
  font-size: 14px;
  margin-top: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;

  &__file {
    align-items: center;
    color: var(--color-gris-claro);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 1em;
  }

  &__group {
    mat-form-field {
      width: 100%;
    }

    mat-form-field:first-child {
      margin-bottom: 1em;
    }
  }

  &__subtitle {
    font-size: 14px;
    font-family: bold;
  }

  &__text {
    font-size: 12px;
    font-family: bold;
    text-align: center;
  }

  &__subtitle,
  &__text {
    color: #1a0c3f;
  }
}

@media (min-width: 768px) {
  .form__file {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1em;
  }

  .form__group {
    display: flex;
    gap: 1em;

    mat-form-field {
      width: 50%;
      margin-bottom: 0;
    }

    mat-form-field:first-child {
      margin-bottom: 0;
    }
  }

  .form__text {
    text-align: left;
  }

  .main-title {
    text-align: left;
  }
}

@media (min-width: 1366px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .self-center {
    align-self: center;
  }

  .form {
    width: 732px;
  }

  .main-title {
    text-align: left;
  }
}

::ng-deep .mat-mdc-form-field:not(.mat-form-field-disabled)
.mat-mdc-floating-label.mdc-floating-label{
  font-family: bold;
}
::ng-deep {
  .mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-full {
    background-color: var(--ngx-valepro-color-tertiary);
  }
  .mdc-text-field--filled .mdc-floating-label {
    color: var(--ngx-valepro-color-tertiary);
  }
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
    .mdc-list-item__primary-text {
    color: var(--ngx-valepro-color-tertiary) !important;
    font-family: bold;
  }
  .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused
    .mdc-floating-label,
  .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused
    .mdc-floating-label--float-above {
    color: var(--ngx-valepro-color-tertiary) !important;
  }
}

.icon-delete {
  color: purple;
  cursor: pointer;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
  vertical-align: middle !important;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-column-imagen,
.mat-column-name,
.mat-column-position,
.mat-column-url {
  border-right: 1px solid #d9d2d2;
  align-self: stretch;
  text-align: center;
}

.mat-mdc-header-cell {
  background-color: #f4f4f4 !important;
  font-family: bold;
  text-align: left;
}
