
<section class="content">
  <form class="form" [formGroup]="managementForm">
    <h1 class="main-title">{{ COMPONENT_CONTENT.title }}</h1>
    <!-- section -->
    <mat-form-field>
      <mat-label>{{ COMPONENT_CONTENT.form.section }}</mat-label>
      <mat-select formControlName="section">
        <mat-option *ngFor="let section of sections" [value]="section.value">
          {{ section.label | titlecase }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="managementForm.get('section')?.hasError('required')">
        {{ COMPONENT_CONTENT.errors.required(COMPONENT_CONTENT.form.section) }}
      </mat-error>
    </mat-form-field>

    <h2 class="form__subtitle">
      {{ COMPONENT_CONTENT.subtitle_resource_form }}
    </h2>
    <!-- title -->
    <mat-form-field *ngIf="managementForm.value.section !== POP_UP_OPTION">
      <mat-label>{{ COMPONENT_CONTENT.form.title }}</mat-label>
      <input matInput formControlName="title" />
      <mat-error *ngIf="managementForm.get('title')?.hasError('maxlength')">
        {{ COMPONENT_CONTENT.errors.maxLength }}
      </mat-error>
      <mat-error *ngIf="managementForm.get('title')?.hasError('required')">
        {{ COMPONENT_CONTENT.errors.required(COMPONENT_CONTENT.form.title) }}
      </mat-error>
    </mat-form-field>

    <!-- segment -->
    <mat-form-field>
      <mat-label>{{ COMPONENT_CONTENT.form.segment }}</mat-label>
      <mat-select multiple formControlName="segment">
        <mat-option *ngFor="let segment of openingSelects" [value]="openingSelects">
          {{ segment.label | titlecase }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="managementForm.get('segment')?.hasError('required')">
        {{ COMPONENT_CONTENT.errors.required(COMPONENT_CONTENT.form.segment) }}
      </mat-error>
    </mat-form-field>

    <!-- opening mode -->
    <mat-form-field *ngIf="managementForm.value.section === WIDGET_OPTION">
      <mat-label>{{ COMPONENT_CONTENT.form.opening }}</mat-label>
      <mat-select formControlName="segment">
        <mat-option
          *ngFor="let option of openingOptions"
          [value]="option.value"
        >
          {{ option.label | titlecase }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="managementForm.get('opening')?.hasError('required')">
        {{ COMPONENT_CONTENT.errors.required(COMPONENT_CONTENT.form.opening) }}
      </mat-error>
    </mat-form-field>

    <div class="form__group">
      <!-- surveillance start date -->
      <mat-form-field>
        <mat-label>{{ COMPONENT_CONTENT.form.startDate }}</mat-label>
        <input matInput formControlName="startDate" [matDatepicker]="picker" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error
          *ngIf="managementForm.get('startDate')?.hasError('required')"
        >
          {{
            COMPONENT_CONTENT.errors.required(COMPONENT_CONTENT.form.startDate)
          }}
        </mat-error>
      </mat-form-field>

      <!-- surveillance end date -->
      <mat-form-field>
        <mat-label>{{ COMPONENT_CONTENT.form.endDate }}</mat-label>
        <input matInput formControlName="endDate" [matDatepicker]="picker2" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error *ngIf="managementForm.get('endDate')?.hasError('required')">
          {{
            COMPONENT_CONTENT.errors.required(COMPONENT_CONTENT.form.endDate)
          }}
        </mat-error>
      </mat-form-field>
    </div>

    <h2 class="form__subtitle">{{ COMPONENT_CONTENT.subtitle_upload_form }}</h2>
    <!-- file -->
    <div class="form__file">
      <mat-hint>{{ COMPONENT_CONTENT.form.files }}</mat-hint>
      <app-file-input
        fileTitle="Subir imagen"
        [multiple]="true"
        (uploadFile)="getFiles($event)"
      ></app-file-input>
    </div>
    <mat-divider></mat-divider>
    <p class="form__text">
      * Las dimensiones de las imágenes deben ser de 1062x380 píxeles.
    </p>

    <!-- url -->
    <mat-form-field *ngIf="managementForm.value.section !== POP_UP_OPTION">
      <mat-label>{{ COMPONENT_CONTENT.form.url }}</mat-label>
      <input matInput formControlName="url" />
    </mat-form-field>

    <!-- send -->
    <app-button (click)="onSubmit()" class="self-center" >Guardar</app-button>

    <table *ngIf="tableData.length > 0" class="example-list" cdkDropList (cdkDropListDropped)="drop('')">
      <thead>
        <tr>
          <th>Position</th>
          <th>Imagen</th>
          <th>URL</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tableData" cdkDrag>
          <td>{{ item.position }}</td>
          <td>{{ item.url }}</td> 
          <td>{{ item.url }}</td>
          <td>
            <button mat-icon-button color="warn" (click)="onDelete(item.position)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </form>
</section>
