<article class="container content">
  <form class="form" [formGroup]="managementForm">
    <h1 class="main-title">{{ COMPONENT_CONTENT.title }}</h1>
    <!-- section -->
    <mat-form-field [hideRequiredMarker]="true">
      <mat-label>{{ COMPONENT_CONTENT.form.section }}</mat-label>
      <mat-select formControlName="section">
        <mat-option *ngFor="let section of sections" [value]="section.value">
          {{ section.label | titlecase }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="managementForm.get('section')?.hasError('required')">
        {{ COMPONENT_CONTENT.errors.required }}
      </mat-error>
    </mat-form-field>

    <h2 class="form__subtitle">
      {{ COMPONENT_CONTENT.subtitle_resource_form }}
    </h2>
    <!-- title -->
    <mat-form-field
      [hideRequiredMarker]="true"
      *ngIf="managementForm.value.section !== POP_UP_OPTION"
    >
      <mat-label>{{ COMPONENT_CONTENT.form.title }}</mat-label>
      <input matInput formControlName="title" />
      <mat-error *ngIf="managementForm.get('title')?.hasError('maxlength')">
        {{ COMPONENT_CONTENT.errors.maxLength }}
      </mat-error>
      <mat-error *ngIf="managementForm.get('title')?.hasError('required')">
        {{ COMPONENT_CONTENT.errors.required }}
      </mat-error>
    </mat-form-field>

    <!-- segment -->
    <mat-form-field [hideRequiredMarker]="true">
      <mat-label>{{ COMPONENT_CONTENT.form.segment }}</mat-label>
      <mat-select multiple formControlName="segment">
        <mat-option
          *ngFor="let segment of openingSelects"
          [value]="openingSelects"
        >
          {{ segment.label | titlecase }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="managementForm.get('segment')?.hasError('required')">
        {{ COMPONENT_CONTENT.errors.required }}
      </mat-error>
    </mat-form-field>

    <!-- opening mode -->
    <mat-form-field
      [hideRequiredMarker]="true"
      *ngIf="managementForm.value.section === WIDGET_OPTION"
    >
      <mat-label>{{ COMPONENT_CONTENT.form.opening }}</mat-label>
      <mat-select formControlName="segment">
        <mat-option
          *ngFor="let option of openingOptions"
          [value]="option.value"
        >
          {{ option.label | titlecase }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="managementForm.get('opening')?.hasError('required')">
        {{ COMPONENT_CONTENT.errors.required }}
      </mat-error>
    </mat-form-field>

    <div class="form__group">
      <!-- surveillance start date -->
      <mat-form-field [hideRequiredMarker]="true">
        <mat-label>{{ COMPONENT_CONTENT.form.startDate }}</mat-label>
        <input
          #startDate
          matInput
          formControlName="startDate"
          [matDatepicker]="picker"
          (input)="validateStartDate($event, 'startDate')"
        />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error
          *ngIf="managementForm.get('startDate')?.hasError('required')"
        >
          {{ COMPONENT_CONTENT.errors.required }}
        </mat-error>
      </mat-form-field>

      <!-- surveillance end date -->
      <mat-form-field [hideRequiredMarker]="true">
        <mat-label>{{ COMPONENT_CONTENT.form.endDate }}</mat-label>
        <input
          #endDate
          matInput
          formControlName="endDate"
          [readonly]="!managementForm.value.startDate"
          [min]="managementForm.value.startDate"
          [matDatepicker]="picker2"
          (input)="validateStartDate($event, 'endDate')"
        />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [disabled]="!managementForm.value.startDate"
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error *ngIf="managementForm.get('endDate')?.hasError('required')">
          {{ COMPONENT_CONTENT.errors.required }}
        </mat-error>
      </mat-form-field>
    </div>

    <h2 class="form__subtitle">{{ COMPONENT_CONTENT.subtitle_upload_form }}</h2>
    <!-- file -->
    <div class="form__file">
      <mat-hint>
        {{ managementForm.value.file?.name || COMPONENT_CONTENT.form.file }}
      </mat-hint>
      <app-file-input
        fileTitle="Subir imagen"
        [multiple]="false"
        (uploadFile)="getFiles($event)"
      ></app-file-input>
    </div>
    <mat-divider></mat-divider>
    <p class="form__text">
      * Las dimensiones de las imágenes deben ser de 1062x380 píxeles.
    </p>

    <!-- url -->
    <mat-form-field
      [hideRequiredMarker]="true"
      *ngIf="managementForm.value.section !== POP_UP_OPTION"
    >
      <mat-label>{{ COMPONENT_CONTENT.form.url }}</mat-label>
      <input matInput formControlName="url" />
      <mat-error
        *ngIf="managementForm.get('url')?.value?.length > 50"
        class="url-warning"
      >
        URL demasiado extensa larga...
      </mat-error>
    </mat-form-field>

    <!-- send -->
    <app-button (click)="addBoard()" class="mb-2 self-center">
      Guardar
    </app-button>

    <section
      *ngIf="dataSource.data.length"
      class="table-container mat-elevation-z6"
    >
      <table
        #table
        cdkDropList
        mat-table
        cdkDropListOrientation="vertical"
        [cdkDropListData]="dataSource"
        [dataSource]="dataSource"
        (cdkDropListDropped)="drop($event)"
      >
        <!-- position -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>Posición</th>
          <td mat-cell *matCellDef="let row">{{ row.position }}</td>
        </ng-container>

        <!-- imagen -->
        <ng-container matColumnDef="imagen">
          <th mat-header-cell *matHeaderCellDef>Imagen</th>
          <td mat-cell *matCellDef="let row">{{ row.name }}</td>
        </ng-container>

        <!-- url -->
        <ng-container matColumnDef="url">
          <th mat-header-cell *matHeaderCellDef>URL</th>
          <td mat-cell *matCellDef="let row">{{ row.url }}</td>
        </ng-container>

        <!-- actions -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <mat-icon class="icon-delete" (click)="removeItem(row.position)">
              delete_outlined
            </mat-icon>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
          cdkDrag
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [cdkDragData]="row"
        ></tr>
      </table>
    </section>
    <app-button
      *ngIf="dataSource.data.length"
      class="self-end"
      [outlined]="true"
      (click)="confirmChangePosition()"
    >
      Guardar posiciones
    </app-button>
  </form>
</article>
