button {
  background: #C567F2 0% 0% no-repeat padding-box;
  border-radius: 22px;
  color: #1A0C3F;
  font-weight: bold;
  height: 44px;
  letter-spacing: 0px;
  text-align: center;
  width: 230px;
}
