.btn-close{
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  width: 100%;
}

.btn-action{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

h1{
  text-align: center;
}

.assets{
  text-align: center;
}
