<!-- <div class="btn-close">
  <app-close-svg />
</div> -->
<div class="assets" mat-dialog-content>
  <img src="assets/images/icon-warning.png" alt="">
  <app-warning-svg />
  <h1 mat-dialog-title>¿Estás seguro de eliminar esta board?{{data.name}}</h1>
</div>
<div mat-dialog-actions>
  <div class="btn-action">
    <app-button [outlined]="true" (click)="null" class="self-center">Eliminar</app-button>
    <app-button [outlined]="true" (click)="onNoClick()" class="self-center">Volver a secciones</app-button>
  </div>
</div>
