<div class="container system__edit-roles-content">
    <span class="bold-32">
        Roles y funciones
    </span>
    <div class="system_edit-role">
        <div class="system__edit-roles-menu-row_border-none">
            <span class="bold-14">
                Rol
            </span>
        </div>
        <div class="system__edit-roles-menu-row_border-none">
            <mat-form-field appearance="fill">
                <mat-label>Nombre del Rol</mat-label>
                <input matInput type="text" autocomplete="off" placeholder="Nombre del Rol">
            </mat-form-field>
        </div>
        
    </div>
    <div class="container system__edit-roles-menu">
        <div class="system__edit-roles-menu-row-title">
            <p class="bold-14">
                Funcionalidades
            </p>
        </div>
        <div class="system__edit-roles-menu-row">
            <div class="system__edit-roles-menu-col">
                <div class="system__edit-roles_block-1">
                    <p class="bold-16">
                        Administrar afiliados
                    </p>
                    <p class="regular-16 ">
                        Roles y funciones
                    </p>
                    <p class="regular-16 ">
                        Formulario registro de usuarios
                    </p>
                </div>
            </div>
            <div class="system__edit-roles-menu-col-2">
                <div class="system__edit-roles_block">
                    <p class="bold-14">Todas</p>
                    <p class="bold-14">Crear</p>
                    <p class="bold-14">Editar</p>
                    <p class="bold-14">Ver</p>
                    <p class="bold-14">Eliminar</p>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>

                    <mat-checkbox color="dark" ></mat-checkbox>
                    <mat-checkbox color="dark" ></mat-checkbox>
                    <mat-checkbox color="dark" ></mat-checkbox>
                    <mat-checkbox color="dark" ></mat-checkbox>
                    <mat-checkbox color="dark" ></mat-checkbox>
                </div>
            </div>
        </div>

    </div>
    <div class="container system__edit-roles-menu">
        <div class="system__edit-roles-menu-row">
            <p class="bold-16">
                Gestión de usuarios
            </p>
        </div>
        <div class="system__edit-roles-menu-row">
            <div class="system__edit-roles-menu-col">
                <div class="system__edit-roles_block-1">
                    <p class="regular-16 ">
                        Crear usuario (individual)
                    </p>
                    <p class="regular-16 ">
                        Crear y actualizar usuarios (masivo)
                    </p>
                    <p class="regular-16 ">
                        Consultar y gestionar usuarios
                    </p>
                </div>
            </div>
            <div class="system__edit-roles-menu-col-2">
                <div class="system__edit-roles_block">
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>

                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>

                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                </div>
            </div>
        </div>

    </div>
    <div class="container system__edit-roles-menu">
        <div class="system__edit-roles-menu-row">
            <p class="bold-16">
                Gestión de Programas
            </p>
        </div>
        <div class="system__edit-roles-menu-row">
            <div class="system__edit-roles-menu-col">
                <div class="system__edit-roles_block-1">
                    <p class="regular-16 ">
                        Información general
                    </p>
                    <p class="regular-16 ">
                        Secciones
                    </p>
                </div>
            </div>
            <div class="system__edit-roles-menu-col-2">
                <div class="system__edit-roles_block">
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>

                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                </div>
            </div>
        </div>

    </div>
    <div class="container system__edit-roles-menu">
        <div class="system__edit-roles-menu-row">
            <p class="bold-16">
                Gestión de Misiones
            </p>
        </div>
        <div class="system__edit-roles-menu-row">
            <div class="system__edit-roles-menu-col">
                <div class="system__edit-roles_block-1">
                    <p class="regular-16 ">
                        Crear Misión
                    </p>
                    <p class="regular-16 ">
                        Misiones activas
                    </p>
                    <p class="regular-16 ">
                        Misiones cerradas
                    </p>
                    <p class="regular-16 ">
                        Calificar misiones
                    </p>
                </div>
            </div>
            <div class="system__edit-roles-menu-col-2">
                <div class="system__edit-roles_block">
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>

                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>

                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>

                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                </div>
            </div>
        </div>

    </div>
    <div class="container system__edit-roles-menu">
        <div class="system__edit-roles-menu-row">
            <p class="bold-16">
                Gestión de estilos y presentación
            </p>
        </div>
        <div class="system__edit-roles-menu-row">
            <div class="system__edit-roles-menu-col">
                <div class="system__edit-roles_block-1">
                    <p class="regular-16 ">
                        Diseño del sistema
                    </p>
                    <p class="regular-16 ">
                        Configurar pie de página
                    </p>
                </div>
            </div>
            <div class="system__edit-roles-menu-col-2">
                <div class="system__edit-roles_block">
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>

                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                    <mat-checkbox color="dark" [(ngModel)]="checked"></mat-checkbox>
                </div>
            </div>
        </div>

    </div>
    <div class="system__edit-container_buttons row">
            <div class="container system_edit-container__button">
                <div class="system__edit-content__button guardar">
                    <button class="bold-16 system__edit-button">Crear rol</button>
                </div>
            </div>
        <div class="container system_edit-container__button">
            <div class="system__edit-content__button">
                <button class="bold-16 system__edit-button" [routerLink]="['/main/system/roles-and-functions']">Descartar cambios</button>
            </div>
        </div>
    </div>
        
    
