//mobile

.imagen-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;

  .imagen-recover {
    width: 50%;
  }
}

.underline{
  text-decoration: underline;
  color: var(--color-primario);
}

.Autoraizer__formulario__conten {
  margin-top: 2rem;
  width: 100%;
  max-width: 270px;

}

.Autoraizer__formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.imagen-back {
  height: 30vh;
}

.Autoraizer__formulario-recover-code {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #cfcece;
  padding-bottom: 2rem;
  margin-bottom: 2rem;


  .Autoraizer__formulario-recover-code__recover__TextCode {
    .Autoraizer__formulario-recover-code__recover__title {
      span {
        width: 100%;
        text-align: center;
        color: var(--ngx-valepro-color-tertiary);
      }
    }
  }

  .Autoraizer__formulario-recover-code__recover__disclaimer {
    span {
      color: var(--ngx-valepro-color-tertiary);
    }
  }

}


.Autoraizer__formulario-recover-password {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .Autoraizer__formulario-recover-password__TextPassword {
    .Autoraizer__formulario-recover-password__Title {
      span {
        text-align: center;
        width: 100%;
        color: var(--ngx-valepro-color-tertiary);
      }
    }

    .Autoraizer__formulario-recover-password__disclaimer {
      span {
        color: var(--ngx-valepro-color-tertiary);
      }
    }
  }

  .Autoraizer__formulario-recover-password__InputPassword {
    width: 100%;



    .Autoraizer__formulario-recover-password__InputPassword__input {
      display: flex;
      flex-direction: column;
      align-items: center;

      form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;

        .login_icon {
          display: flex !important;
          flex-direction: column !important;
          justify-content: space-around !important;
        }
      }
    }
  }


}

::ng-deep code-input input {
  height: 54px !important;
  width: 100% !important;
  border: none !important;
  border-bottom: 1px solid var(--color-primario) !important;
  border-radius: 0px !important;
  background: #F4F4F4 !important;
}



// ::ng-deep .mat-mdc-form-field-infix {
//   width: 288px !important;
//   border-radius: none !important;
// }

::ng-deep .mat-mdc-form-field-infix {
  width: 100% !important;
  border-radius: none !important;
}


.recover_btn {
  border-radius: 50px;
  border: none;
  min-height: 50px;
  font-family: "bold";
  font-size: 16px;
  color: var(--ngx-valepro-color-tertiary);
  padding: 0 2rem;
  width: 100%;
  background-color: var(--ngx-valepro-color-secondary);
}


.container-fluid {
  width: 100%;
  overflow-x: hidden;
}

.Autoraizer__formulario-recover-code__recover__inputCode {
  width: 100%;
  margin: 0 auto;

  .Autoraizer__formulario-recover-code__recover__codeText {
    width: 100%;

    span {
      color: var(--ngx-valepro-color-tertiary);

      u {
        cursor: pointer;
      }
    }
  }


}


::ng-deep mat-form-field.mat-mdc-form-field.ng-tns-c1205077789-2.mat-mdc-form-field-type-mat-input.mat-form-field-appearance-fill.mat-primary.ng-star-inserted.mat-form-field-hide-placeholder {
  width: 100% !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label,
.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label--float-above {
  color: #1A0C3F66 !important;
  font-family: "bold";
}

::ng-deep mat-label {
  COLOR: #1A0C3F66 !important;
}

input#mat-input-0 {
  COLOR: #1A0C3F66 !important;
}

input#mat-input-1 {
  COLOR: #1A0C3F66 !important;
}






.recover_col-img--mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-color: #0277bd;
  min-height: 203px;

  .recover_img {
    background: var(--imagen-background-login);
    width: 50%;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}



.grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100vh;
}

.fr1 {
  background-color: var(--ngx-valepro-color-primary);
  color: white;
  padding: 20px;
  height: 100%;
}

.fr2 {
  background-color: white;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
}

::ng-deep .mdc-floating-label--required:not(.mdc-floating-label--hide-required-marker)::after {
  margin-left: 1px;
  margin-right: 0px;
  content: "" !important;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .grid {
    grid-template-columns: 1fr;

  }

  .Autoraizer__formulario__conten {
    margin-top: 2rem;
    max-width: 350px;
  }

  .imagen-back {
    height: auto;
  }

  .Autoraizer__formulario-recover-password {
    width: 100%;
  }

  .Autoraizer__formulario-recover-code {
    width: 100%;
  }

  ::ng-deep .mat-mdc-form-field-infix {
    width: 288px !important;
    border-radius: none !important;
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .Autoraizer__formulario__conten {
    margin-top: calc(10vh);
    max-width: 350px;
  }

  .imagen-back {
    height: auto;
  }

  .Autoraizer__formulario-recover-password {
    width: 100%;
  }

  .Autoraizer__formulario-recover-code {
    width: 100%;
  }

  ::ng-deep .mat-mdc-form-field-infix {
    width: 288px !important;
    border-radius: none !important;
  }
}