<section class="container">
  <h1 class="main-title">{{ PAGE_CONTENT.title }}</h1>

  <mat-stepper #stepper>
    <mat-step state="one">
      <app-ur-form-base
        [fieldNames]="oneFieldNames"
        [next]="true"
        (nextEvent)="stepperNext($event)"
      ></app-ur-form-base>
    </mat-step>
    <mat-step state="two">
      <app-ur-form-base
        [fieldNames]="twoFieldNames"
        [back]="true"
        [next]="true"
        (nextEvent)="stepperNext($event)"
      ></app-ur-form-base>
    </mat-step>
    <mat-step state="three">
      <app-ur-form-base
        [fieldNames]="threeFieldNames"
        [back]="true"
        [next]="true"
        (nextEvent)="stepperNext($event)"
      ></app-ur-form-base>
    </mat-step>
    <mat-step state="four">
      <app-ur-form-base
        [fieldNames]="fourFieldNames"
        [back]="true"
        [finish]="true"
        (nextEvent)="stepperNext($event)"
        (submitEvent)="submit($event)"
      ></app-ur-form-base>
      <p *ngIf="errorSubmit" class="error" (click)="errorSubmitClicked()">
        {{ PAGE_CONTENT.errorSubmit }}
      </p>
    </mat-step>


    <!-- Replace icon mat-step -->
    <ng-template matStepperIcon="one">
      <mat-icon></mat-icon>
    </ng-template>
    <ng-template matStepperIcon="two">
      <mat-icon></mat-icon>
    </ng-template>
    <ng-template matStepperIcon="three">
      <mat-icon></mat-icon>
    </ng-template>
    <ng-template matStepperIcon="four">
      <mat-icon></mat-icon>
    </ng-template>
    <!-- Replace icon mat-step -->
  </mat-stepper>
</section>
