::ng-deep {
  // change colors
  .mat-stepper-horizontal {
    background-color: transparent !important;
  }

  .mat-step-header .mat-step-icon-selected {
    background-color: var(--color-secundario) !important;
  }

  .mat-step-header .mat-step-icon-state-done,
  .mat-step-header .mat-step-icon-state-edit {
    background-color: var(--color-secundario);
    color: transparent;
    + .mat-step-label {
      color: transparent;
    }
  }

  .mat-step-icon:not(.mat-step-icon-state-done) {
    background-color: var(--color-gris-claro);
  }

  // center and adjust horizontal line
  .mat-horizontal-stepper-header-container {
    align-self: center;
    max-width: 332px;
  }

  .mat-stepper-horizontal-line {
    border-top-width: 2px !important;
    margin: 0 -24px !important;
    min-width: 82px !important;
  }
}

.main-title {
  color: var(--color-primario);
  font-size: 32px;
  font-weight: bold;
  padding: 32px 16px;
}

.error {
  color: var(--color-rojo);
  padding: 2em 0;
  text-align: center;
}

@media (min-width: 1366px) {
  .container {
    min-height: 732px;
  }
}
