.content-file {
  width: 230px;
}

.hide {
  display: none;
}

.upload-label {
  align-items: center;
  border: var(--color-secundario) 1px solid;
  border-radius: 22px;
  color: var(--color-primario);
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  gap: 0.3em;
  justify-content: center;
  padding: 8px 14px;
}

.filename {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
