<div class="container ">
  <div class="row align-items-start">
    <div class="programas-secciones">
      <div class="programas-secciones-title">
        <span class="bold-32 primario mb-2">Gestión de secciones</span>
      </div>

      <form [formGroup]="programSelect">
        <div class="fomr">
          <mat-form-field>
            <mat-label class="title-input">Sección</mat-label>
            <mat-select formControlName="selectedSections" [(value)]="selectedSection"
              (selectionChange)="isSelectionChange($event)" placeholder="Sección">
              <mat-option *ngFor="let section of sections" [value]="section.value">
                {{section.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <app-banner
          *ngIf="selectedSection === 'banner'"
          (getFile)="getFile($event)"
          (getSubmitValue)="getSubmitValue($event)"
          (deleteItem)="removeItem($event)"
        ></app-banner>
        <app-news
          *ngIf="selectedSection === 'news'"
          (getFile)="getFile($event)"
          (getSubmitValue)="getSubmitValue($event)"
          (deleteItem)="removeItem($event)"
        ></app-news>
        <app-widgets
          *ngIf="selectedSection === 'widget'"
          (getFile)="getFile($event)"
          (getSubmitValue)="getSubmitValue($event)"
          (deleteItem)="removeItem($event)"
        ></app-widgets>
        <app-popup
          *ngIf="selectedSection === 'popup'"
          (getFile)="getFile($event)"
          (getSubmitValue)="getSubmitValue($event)"
          (deleteItem)="removeItem($event)"
        ></app-popup>


      </form>

    </div>
  </div>
</div>
