<div class="container ">
  <div class="row align-items-start">
    <div class="programas-secciones">
      <div class="programas-secciones-title">
        <span class="bold-32 mb-2">Gestión de secciones</span>
      </div>

      <form [formGroup]="programSelect">
        <div class="fomr">
          <mat-form-field>
            <mat-label>Sección</mat-label>
            <mat-select formControlName="selectedSections" [(value)]="selectedSection"
              (selectionChange)="isSelectionChange($event)" placeholder="Sección">
              <mat-option *ngFor="let section of sections" [value]="section.value">
                {{section.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <app-banner *ngIf="selectedSection==='banner'"></app-banner>
        <app-news *ngIf="selectedSection==='news'"></app-news>
        <app-widgets *ngIf="selectedSection==='widget'"></app-widgets>
        <app-popup *ngIf="selectedSection==='popup'"></app-popup>


      </form>

    </div>
  </div>
</div>