.self-center {
  align-self: center;
}

.main-title {
  color: var(--color-primario);
  font-size: 32px;
  font-weight: bold;
  padding: 16px 0;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;

  &__file {
    align-items: center;
    color: var(--color-gris-claro);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 1em;
  }

  &__group {
    mat-form-field {
      width: 100%;
    }

    mat-form-field:first-child {
      margin-bottom: 1em;
    }
  }

  &__subtitle {
    font-size: 14px;
    font-weight: bold;
  }

  &__text {
    font-size: 12px;
    font-weight: normal;
    text-align: center;
  }

  &__subtitle,
  &__text {
    color: #1a0c3f;
  }
}

@media (min-width: 768px) {
  .form__file {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1em;
  }

  .form__group {
    display: flex;
    gap: 1em;

    mat-form-field {
      width: 50%;
      margin-bottom: 0;
    }

    mat-form-field:first-child {
      margin-bottom: 0;
    }
  }

  .form__text {
    text-align: left;
  }

  .main-title {
    text-align: left;
  }
}

@media (min-width: 1366px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form {
    width: 732px;
  }

  .main-title {
    text-align: left;
  }


  .example-list {
    width: 100%; /* ajusta el ancho según tus necesidades */
    border: 1px solid #ccc;
    margin-top: 20px; /* o ajusta según tus necesidades */
    border-radius: 4px;
    overflow: hidden;

    tfoot {
      display: table-caption;
      padding: 0.8rem;

      div{
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .example-list th,
  .example-list td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }

  .example-list th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  .example-list .cdk-drag-placeholder {
    opacity: 0.5;
    border: 2px dashed #ccc;
    background-color: #f9f9f9;
  }
}
