<!-- <div class="container ">
  <div class="row align-items-start">
    <div class="col">
      <div class="fomr">
        <span>Configuración de banner principal</span>
        <mat-form-field>
          <mat-label>Nombre de la board</mat-label>
          <input matInput>
        </mat-form-field>

        <span>Carga de imágenes</span>
        <mat-form-field>
          <mat-label>URL de la imagen</mat-label>
          <input matInput>
        </mat-form-field>


        <div class="col-12">
          <span>Selecciona una imagen</span>
          <button type="submit">Subir imagen</button>
        </div>

        <span>* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt mi a sem laoreet
          aenean.</span>






        <div class="col-12">
          <button type="submit">Guardar</button>
        </div>

      </div>

    </div>
  </div>
</div> -->